<section id="main-section">
  <div class="jumbotron">
    <h2 class="display-3">Accomplishments</h2>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for
                  calling extra attention to featured content or information.</p>
  </div>
  <div class="ga-pd-16">
    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">Hello</div>
    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
      <h4 class="mt-0">Media heading</h4>
      <p>This is a simple hero unit, a simple jumbotron-style component for
                    calling extra attention to featured content or information.</p>
    </div>
  </div>
  <div class="ga-pd-16">
    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">Hello</div>
    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
      <h4 class="mt-0">Media heading</h4>
      <p>This is a simple hero unit, a simple jumbotron-style component for
                    calling extra attention to featured content or information.</p>
    </div>
  </div>
  <div class="ga-pd-16">
    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">Hello</div>
    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
      <h4 class="mt-0">Media heading</h4>
      <p>This is a simple hero unit, a simple jumbotron-style component for
                    calling extra attention to featured content or information.</p>
    </div>
  </div>
</section>
