<section id="main-section" [@fadeInAnimation]>
  <div>
    <div class="ga-h1">WHERE TO FIND ME?</div>
    <br>
    <div class="ga-p">Drop an e-mail, connect on linkedin or just check out the stack!</div>
    <br>
    <ul class="list-unstyled">
      <li class="list-group-item ga-p">
        <span class="fa fa-envelope"></span> &nbsp;&nbsp;&nbsp;<a href="mailto:garaya@gauravjot.com" target="_blank">garaya@gauravjot.com</a>
      </li>
      <li class="list-group-item ga-p">
        <span class="fa fa-linkedin"></span> &nbsp;&nbsp;&nbsp;<a href="http://linkedin.com/in/gauravjot" target="_blank">linkedin.com/in/gauravjot</a>
      </li>
      <li class="list-group-item ga-p">
        <span class="fa fa-github"></span> &nbsp;&nbsp;&nbsp;<a href="http://github.com/gauravjot" target="_blank">github.com/gauravjot</a>
      </li>
      <li class="list-group-item ga-p">
        <span class="fa fa-stack-overflow"></span> &nbsp;&nbsp;&nbsp;<a href="http://stackoverflow.com/users/1460340/" target="_blank">stackoverflow.com/../gavin</a>
      </li>
      <li class="list-group-item ga-p">
        <span class="fa fa-twitter"></span> &nbsp;&nbsp;&nbsp;<a href="http://twitter.com/gauravjot" target="_blank">@gauravjot</a>
      </li>
    </ul>
  </div>
</section>
