<section id="main-section" [@fadeInAnimation]>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <aside>
      <div>
        <img class="profile-picture" src="../assets/profile-picture.jpg" alt="Profile Picture">
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-4">
        <div class="aside-content-header">I love to:</div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-8">
        <div class="aside-content">Work with AWS, Android, Angular and goal oriented individuals</div>
      </div>
    </aside>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
    <main>
      <div class="main-content">
        I am looking for an oppurtunity to grow and develop personally and professionally while allowing me to contribute my skills, knowledge and experience. Strong engineering professional with a Associate's degree
        focused in Computer Science. Have great enthusiasm about writing responsive websites and android applications. Especially in love with Material and Minimalistic Design style which really shows up in developed applications.
      </div>
      <div style="text-align:right; margin-top:44px"><a class="btn btn-primary" style="padding:8px 16px;" href="/resume">know more about me!</a></div>
    </main>
  </div>
</section>
