<section id="main-section" [@fadeInAnimation]>
  <div id="about-component">
    <div style="text-align: right;"><a type="button" href="../assets/cv-gauravjot.pdf" class="btn btn-primary btn-sm"><i class="fa fa-save"></i>&nbsp; Click to save a detailed copy</a></div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <aside>
        <div class="aside-resume-header">
          <img class="profile-picture-sm" src="../assets/profile-picture.jpg" alt="Profile Picture">
          <h3>Gauravjot Garaya</h3>
          <h5>Surrey, Canada</h5>
        </div>
        <div class="aside-resume-text">
          <span class="fa fa-envelope"></span> &nbsp;<a href="mailto:garaya@gauravjot.com" target="_blank">garaya@gauravjot.com</a>
        </div>
        <div class="aside-resume-text">
          <span class="fa fa-twitter"></span> &nbsp;<a href="http://twitter.com/gauravjot" target="_blank">@gauravjot</a>
        </div>
        <div class="aside-resume-text">
          <span class="fa fa-linkedin"></span> &nbsp;<a href="http://linkedin.com/in/gauravjot" target="_blank">linkedin.com/in/gauravjot</a>
        </div>
        <div class="aside-resume-text">
          <span class="fa fa-github"></span> &nbsp;<a href="http://github.com/gauravjot" target="_blank">github.com/gauravjot</a>
        </div>
        <div class="aside-resume-text">
          <span class="fa fa-stack-overflow"></span> &nbsp;<a href="http://stackoverflow.com/users/1460340/" target="_blank">stackoverflow.com/../gavin</a>
        </div>
        <div>
          <div class="aside-resume-highlight-text"><span>Education</span></div>
          <div class="aside-resume-text-1">Associate Degree Of Computer Science</div>
          <div class="aside-resume-text-2">Columbia College, Vancouver, Canada<br>2014 - 2016</div>
          <div class="aside-resume-text-1">High School Degree</div>
          <div class="aside-resume-text-2">Gobindgarh Public School, Punjab, India<br>2014</div>
          <!-- <div class="aside-resume-text-1">Degree XYZ</div>
          <div class="aside-resume-text-2">XYZ University, Vancouver, Canada<br>20XX - 20XX</div> -->
        </div>
        <div style="text-align:left;">
          <div class="aside-resume-highlight-text"><span>Languages</span></div>
          <div class="aside-resume-text">
            <span>English</span>&nbsp;&nbsp; <span style="font-weight: 500; font-size: 14px; color: rgba(255,255,255,0.6);">(Fluent)</span>
            <br>
            <span>Punjabi</span>&nbsp;&nbsp; <span style="font-weight: 500; font-size: 14px; color: rgba(255,255,255,0.6);">(Native)</span>
            <br>
            <span>Hindi</span>&nbsp;&nbsp; <span style="font-weight: 500; font-size: 14px; color: rgba(255,255,255,0.6);">(Native)</span>
            <br>
            <span>Spanish</span>&nbsp;&nbsp; <span style="font-weight: 500; font-size: 14px; color: rgba(255,255,255,0.6);">(Beginner)</span>
          </div>
        </div>
        <div style="text-align:left;">
          <div class="aside-resume-highlight-text"><span>Interests</span></div>
          <div class="aside-resume-text">
            <span>Running</span>
            <br>
            <span>Hikes and Trails</span>
            <br>
            <span>Leisure Reading</span>
          </div>
        </div>
        <br><br><br><br>
      </aside>
    </div>
    <!-- sidebar -->
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <main>
        <div class="resume-title">Objective</div>
        <div class="resume-details">I am looking for an opportunity to grow and develop personally and professionally while allowing me to contribute my skills, knowledge and experience in return and reflect my greater passion to be working reputable companies in my career.</div>
        <br>
        <div class="resume-title">Education</div>
        <div class="resume-details">
          <div class="resume-subtitle">Associate of Computer Science | Columbia College</div>
          <div><div class="sub">SEPTEMBER 2014 – AUGUST 2016</div>
              I have gained significant and in-depth knowledge about the fundamental technologies such as Python, Java and C++ along with mathematical skills such as statistics and numerical analysis. My course concentrations are:
            <ul>
              <li>Developing and understanding code from node level of programming languages</li>
              <li>Introduction to data processing and computer architecture</li>
              <li>Computers and Info Systems in Business mainly MS Office</li>
            </ul>
          </div>
          <div class="resume-subtitle">High School | Gobindgarh Public School</div>
          <div><div class="sub">APRIL 2012 – MARCH 2014</div>
            I completed my high school graduating with classes involving Mathematics, Physics and Chemistry alongside with Advanced English and Physical Education courses.
          </div>
        </div> 
        
        <br>
        <div class="resume-title">Projects</div>
        <div class="resume-details"><a href="https://play.google.com/store/apps/details?id=com.droidheat.musicplayer" target="_blank">Noad Black Player (Android)</a> <br> Android application development with focus on clean and elegant design. The sole purpose of this project is to gain more knowledge about android lifecycle and its programming language of choice Java. This project provides me with some of very applicable knowledge for my future projects and my professional life.</div>
        <div class="resume-details"><a href="https://play.google.com/store/apps/details?id=com.gauravjot.givememotivation" target="_blank">Give Me Motivation (Android)</a> <br> Starting my day with a motivation quote is always refreshing and it is just natural to create something I enjoy.</div>
        <div class="resume-details"><a href="https://play.google.com/store/apps/details?id=com.droidheat.splashlol" target="_blank">SplashLoL (Android)</a> <br> This application is made with REST API’s hosted on my personal development PHP server and League of Legends official API servers along with relational database MySQL hosted in cloud. I learned and have implemented principles of asynchronous task handling and managing resources such as RAM and device storages while loading and saving images in device from web servers.</div>
        <div class="resume-details"><a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Beep Boop! Current website!">Gauravjot.com (Web App)</a> <br> My portfolio website. This web-app is hosted on Google’s Firebase and framework used was Angular 4 with Bootstrap. I have since migrated the project successfully to Angular 6 and RxJS.</div>
        <!-- <div class="resume-details"><a href="#">Project 1</a> - Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</div> -->
        <br>
        <br>
        <div class="resume-title">Skills &amp; Proficiency</div>
        <div class="resume-details">
          <ul>
            <li><u>Frameworks</u>: React, Angular and Vue </li>
            <li><u>Programming languages</u>: JavaScript, HTML5, CSS3, SASS, Java, PHP, Python, JSON, SQL, XML</li>
            <li><u>Industry Skills</u>: Statistics, Numerical Analysis, Software Development, Web Development, Social Media, Project Management</li> 
            <li><u>IDE’s</u>: Android Studio, Eclipse, Visual Studio Code, Atom</li>
            <li><u>Amazon Web Services</u>: EC2, Elastic Beanstalk, Route 53, S3, RDS, DynamoDB</li>
            <li><u>Interpersonal Skills</u>: Creative Problem Solving, Team Leadership, Resource Management, Critical Thinking</li>
          </ul>       
        </div>
      </main>
    </div>
    <div style="text-align: right;">
        <a type="button" href="../assets/cv-gauravjot.pdf" class="btn btn-primary btn-sm"><i class="fa fa-save"></i>&nbsp; Click to save a detailed copy</a></div>
  </div>
</section>
