<section id="main-section" [@fadeInAnimation]>
  <div class="ga-code">
    <h3 class="display-3"><span class="ga-text-black">Here's How and Why </span><span class="ga-text-accent">Gauravjot.com</span></h3>
    <p class="ga-text-size-16">I, Gauravjot Garaya have created this website by myself, solely for the purpose of showcasing my skills and accomplishments. This website is created using Angular 6, Bootstrap, HTML5 and CSS. Keeping it simple and elegant is theme going
      into developing website's minimalistic design.</p>
  </div>
  <br>
  <h3>What I used &amp; why?</h3>
  <br>
  <ul class="list-group">
    <li class="list-group-item">
      <h4 class="card-title"><a href="https://angular.io/" target="_blank">Angular</a></h4>
      <h6 class="card-subtitle mb-2 text-muted">Version 6</h6>
      <p class="card-text">
        This is one of my first projects with Angular 6 and I would surely say it is an execellent framework and quicker than others like React. The structure is clean and compilation is no sweat. Surely recommended to anyone!
      </p>
    </li>
    <li class="list-group-item">
      <h4 class="card-title"><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></h4>
      <h6 class="card-subtitle mb-2 text-muted">Version 3.3.7</h6>
      <p class="card-text">
        Bootstrap makes life easier with easy to use classes and CSS features which otherwise requires ton of time to write. Excellent project, responsive and basis of any webstie I build. An A+ !
      </p>
    </li>
    <li class="list-group-item">
      <h4 class="card-title">HTML5 and CSS3</h4>
      <h6 class="card-subtitle mb-2 text-muted">Global</h6>
      <p class="card-text">
        HTML5 and CSS3, as general of markup and style language as it gets to build a simple website for you folks out there. Nothing much to say here.
      </p>
    </li>
    <li class="list-group-item">
      <h4 class="card-title"><a href="https://atom.io/" target="_blank">Atom.io</a></h4>
      <h6 class="card-subtitle mb-2 text-muted">Text Editor</h6>
      <p class="card-text">
        Excellent text editor for building almost any project. It's open source and have tons of packages and add-ons for almost anything needed for this project.
      </p>
    </li>
  </ul>
</section>
